.item {
  max-height: 2000px;
  width: 900px;
  /* display: flex;
  flex-direction: column; */
}

.lora {
  font-family: "Lora";
  font-weight: bold;
  letter-spacing: 0;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 20px;
}

.buttontext {
  color: #000000;
  font-size: 1rem;
  font-family: "Lora";
}
