.title {
  font-family: "Lora";
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0;
  color: black;
  padding-top: 5px;
}

.item {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #262626;
  letter-spacing: 0;
}

.icon {
  color: #000000;
  padding-right: 10px;
}

.logo {
  color: #000000;
  padding-right: 15px;
}

.hamburger {
  color: #000000;
}

.badge {
  position: absolute;
  left: 1060px;
  top: 20px;
}
