.lora {
  font-family: "Lora";
  font-weight: bold;
  width: 16rem;
  letter-spacing: 0;
}

.title {
  color: #000000;
  letter-spacing: 0;
}
.description {
  color: #939393;
}

.buttontext {
  color: #ffffff;
}
