.image {
  width: 20%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 50px;
}

.lora {
  font-family: "Lora";
  font-weight: bold;
  letter-spacing: 0;
  font-size: 30px;
}

.gold {
  color: #c69c00;
}
